/* *Custom Properties* */

/* *Resets */
*,
*::before,
*::after {
  box-sizing: border-box;
}
ul,
ol {
  list-style: none;
  margin-top: 0;
  padding-left: 0;
}
img,
audio,
video,
iframe,
canvas,
svg,
picture {
  max-width: 100%;
  height: auto;
}
html {
  scroll-behavior: smooth;
}
.header {
  position: sticky;
  top: 0;
  background-image: linear-gradient(to bottom, #4e54c8, #8f94fb);
  margin-bottom: 1.2rem;
}
.header__title {
  margin: 0;
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.card {
  width: 290px;
  border: 1px solid #ccc;
  border-radius: 8px;
  margin-bottom: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 2px;
}
.card__footer {
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ccc;
  margin: -3px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
}
footer {
  font-family: "Raleway", sans-serif;
}
